USE [master]
GO
/****** Object:  Database [QLHS]    Script Date: 09/12/2019 12:59:51 SA ******/
CREATE DATABASE [QLHS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLHS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLHS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLHS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHS]
GO
/****** Object:  Table [dbo].[CHITIETDSLOP]    Script Date: 09/12/2019 12:59:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETDSLOP](
	[MaChiTietDSLop] [varchar](10) NOT NULL,
	[MaLop] [varchar](10) NOT NULL,
	[MaHocSinh] [int] NOT NULL,
	[TBHocKi1] [float] NULL,
	[TBHocKi2] [float] NULL,
 CONSTRAINT [PK_CHITIETDSLOP] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDSLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHSACHLOP]    Script Date: 09/12/2019 12:59:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACHLOP](
	[MaLop] [varchar](10) NOT NULL,
	[TenLop] [varchar](10) NULL,
	[SiSo] [int] NULL,
	[MaKhoiLop] [varchar](10) NULL,
 CONSTRAINT [PK_DANHSACHLOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hoc_sinh]    Script Date: 09/12/2019 12:59:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoc_sinh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Sex] [nchar](10) NULL,
 CONSTRAINT [PK_Hoc_sinh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOILOP]    Script Date: 09/12/2019 12:59:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOILOP](
	[MaKhoiLop] [varchar](10) NOT NULL,
	[TenKhoiLop] [varchar](10) NULL,
 CONSTRAINT [PK_KHOILOP] PRIMARY KEY CLUSTERED 
(
	[MaKhoiLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 09/12/2019 12:59:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TuoiToiThieu] [int] NULL,
	[TuoiToiDa] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHITIETDSLOP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDSLOP_DANHSACHLOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[DANHSACHLOP] ([MaLop])
GO
ALTER TABLE [dbo].[CHITIETDSLOP] CHECK CONSTRAINT [FK_CHITIETDSLOP_DANHSACHLOP]
GO
ALTER TABLE [dbo].[CHITIETDSLOP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDSLOP_Hoc_sinh] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[Hoc_sinh] ([ID])
GO
ALTER TABLE [dbo].[CHITIETDSLOP] CHECK CONSTRAINT [FK_CHITIETDSLOP_Hoc_sinh]
GO
ALTER TABLE [dbo].[DANHSACHLOP]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHLOP_KHOILOP] FOREIGN KEY([MaKhoiLop])
REFERENCES [dbo].[KHOILOP] ([MaKhoiLop])
GO
ALTER TABLE [dbo].[DANHSACHLOP] CHECK CONSTRAINT [FK_DANHSACHLOP_KHOILOP]
GO
USE [master]
GO
